.sliderCont{
    position: relative;
    margin: 0 auto;
    /* background-color: aqua; */
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.prevButton,
.nextButton{
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: xx-large;
} :hover {
  text-shadow:  0 0 11px black;
}
.prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* //display: none; */
  }